<div class="panel panel-primary">
  <div class="panel-heading" *ngIf='product'>{{pageTitle}}</div>
  <div class="panel-body">
    <div class="table-responsive" style="width: 45%">
      <table class="table">
        <tbody>
          <tr>
            <td>Name: </td>
            <td>{{product.productName}}</td>
          </tr>
          <tr>
              <td>Code: </td>
              <td>{{product.productCode}}</td>
          </tr>
          <tr>
                <td>Description: </td>
                <td>{{product.description}}</td>
              </tr>
              <tr>
                  <td>Availability: </td>
                  <td>{{product.releaseDate}}</td>
                </tr>
                <tr>
                    <td>Price: </td>
                    <td>{{product.price|currency:'USD':true:'1.2-2'}}</td>
                  </tr>
                  <tr>
                      <td>5 Star Rating: </td>
                      <td><pm-star [rating]='product.starRating'></pm-star></td>
                    </tr>

                   
        </tbody>
      </table>
    </div>
    <div style="float: left; width: 45%"><img [src]='product.imageUrl'></div>
  </div>
  <div class="panel-footer"><button class="btn btn-default" (click)='onBack()'><i class="glyphicon glyphicon-chevron-left"></i> Back</button></div>
</div>